# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea
.run

# gradle
build
.gradle

#Netbeans
.nb-gradle
.nb-gradle-properties

# other
run
.DS_Store
Thumbs.db

versions/*/tmp.srg
versions
!versions/1.12.2-1.8.9.txt
!versions/1.15.2-1.12.2.txt
!versions/mainProject